#content-container {
  background-color: var(--color-background);
  transition: background-color 0.3s ease-in-out;
}

[navbar-position='left'] #content-container {
  border-top: 0.5px solid var(--color-border);
  border-top-left-radius: 10px;
  border-left: 0.5px solid var(--color-border);
  transition: 
    background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}
